@import "./base";
@import "./components/header/navbar";
@import "./mediaQuery";
@import "./components/quiz/_Quiz";
@import "./components/Catalog/newsNoteWorthy/newsNoteWorth";
@import "./components/Catalog/CatalogCard";
@import "./components/Catalog/getInspireSection/getInspire";
